.head {
    /*
    height: 70px;
    */
    background-color: var(--colorB);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.stuff, .log-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 40px;
}

.stuff a, .log-in a {
    transition: all 0.5s ease;
}

.stuff a:hover, .log-in a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

.search-box form {
    display: flex;
    width: 340px;
    height: 40px;
    margin: 9px 0;
}

.search-box input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border-radius: 0.4rem 0 0 0.4rem;
    border: none;
    background: rgba(255, 255, 255, .9);
}

.search-box .search-btn {
    width: 50px;
    color: #fff;
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid rgba(0, 0, 0, 0.922);
    border-radius: 0 0.4rem 0.4rem 0;
    transition: all 0.5s ease;
}

